.about-container{
  padding: 70px 150px;
  font-family: 'Amatic SC', cursive;
  text-align: center;

.willkommen{
  h3{
    padding-bottom:20px;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color:#235053;
  }
}

.kinder{
  h4{
    padding-bottom:10px;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color:#235053;
  }
  p{
    font-size:20px;
  }
}

.kunst{
  h4{
    padding-bottom:10px;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color:#235053;
  }
  p{
    font-size:20px;
  }
}


}

.about-haus{
  display: flex;
  margin: 20px 150px;
  p{
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;
  }
}
