<div class="footer">
  <div class="footer-container">
    <div class="info-block">
      <ul style="list-style: none;">
        <li>
          <strong style="opacity: 70%" >ÜBER ART`HÜS</strong>
        </li>
        <li>
          <a href="">AGB</a>
        </li>
         <li>
          <a href="">Kontakt</a>
        </li>
         <li>
          <a href="">Impressum</a>
        </li>
         <li>
          <a href="">Wiederrufsrecht</a>
        </li>
         <li>
          <a href="">Datenschutz</a>
        </li>
      </ul>
    </div>
    <div class="logo-btn">
      <button>Art´Hüs</button>
    </div>
  </div>
</div>
