<div style="padding: 50px;">
  <div class="contact-header">
    <h2 style="margin: 30px;"><strong>Kontakt</strong></h1>
      <p style="text-align: left;">Was ist dein Anliegen? Gibt es ein Problem mit deiner Buchung? Hast du eine Frage zu unseren Appartments? Oder möchtest du uns einfach mal ein Kompliment machen? So oder so haben wir jederzeit ein offenes Ohr für dich! Füll einfach das Formular aus und wir melden uns innerhalb von 24h bei dir zurück.</p>
  </div>

  <%= render 'form' %>
</div>

