<div class="about-container">

  <div class="willkommen" >
    <h3>Herzlich willkommen auf unserer Homepage!</h3>
    <div class="about-haus">
        <%= image_tag "haus1.jpeg",class: "haus1-img", alt: "ups...da gab es wohl ein problem beim laden" %>
        <p>Das ART'hüs wurde im Sommer 2002 eröffnet. Wir sind ein modernes und farbenfrohes Haus, welches eine Verbindung von Ferienwohnungen mit wechselnden Kunstausstellungen bietet. In allen Wohnungen hängen ausschließlich Unikate von Vertretern der "Modern Art".</p>
    </div>
  </div>

  <div class="kinder" >
    <div class="about-haus">
      <div>
        <h4><strong>Kinder</strong></h4>
        <p>Das ART'hüs ist besonders kinderfreundlich und freut sich über alle kleinen Gäste.</p>
      </div>
      <%= image_tag "kinderz.jpeg",class: "haus1-img", alt: "ups...da gab es wohl ein problem beim laden" %>
    </div>
  </div>

  <div class="kunst" >
    <div class="about-haus">
      <%= image_tag "kunst.jpeg",class: "haus1-img", alt: "ups...da gab es wohl ein problem beim laden" %>
      <div>
        <h4>Kunst</h4>
        <p>Im ART'hüs präsentieren wir Ihnen ständig wechselnde Kunstausstellungen und in allen Wohnungen hängen ausschließlich Unikate.
        Z. B. finden Sie Werke der Künstlerin Gabriele Scherk, die als freischaffende Künstlerin in Berlin und auf Mallorca lebt und arbeitet.</p>
      </div>
    </div>
  </div>


</div>
