<div class="preis-container">
 <h1><strong>Preise</strong></h1>
  <div style="padding: 30px; line-height: 10px;">
    <p>Sehen Sie hier wie sich unseere Preise zusammensetzten oder prüfen sie hier direkt die Verfügbarkeiten</p>
    <button class="home-app-btn"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank">Verfügbarkeit prüfen</a></button>
    <h5><strong>Preise für die Endreinigung sind Verbrauchsabhängig !</strong></h5>
    <p>Grundpreis für max. 2.Personen & max. 2.Wochen.</p>
    <p>Zzgl. 10,-€ einmalig für 3-4 Person.</p>
    <p>Zzgl. 10,-€ einmalig Aufenthalte über 14 Tage.</p>
  </div>

<hr>

  <div>
    <h1>Saisonplan</h1>
    <div class="saisonplan">
      <div class="box-a">
        <h4>Saison A</h4>
        <p>22.06.2018 - 23-08.2019</p>
        <p>21.12.2019 - 04.01.2020</p>
      </div>
      <div class="box-b">
        <h4>Saison B</h4>
        <p>13.04.2019 - 26.04.2019</p>
        <p>25.05.2019 - 21.06.2019</p>
        <p>24.08.2019 - 25.10.2019</p>
      </div>
      <div class="box-c">
        <h4>Saison C</h4>
        <p>30.03.2019 - 12.04.2019</p>
        <p>24.04.2019 - 24.05.2019</p>
        <p>26.10.2019 - 01.11.2019</p>
      </div>
      <div class="box-d">
        <h4>Saison D</h4>
        <p>05.01.2019 - 29.03.2019</p>
        <p>02.11.2018 - 20.12.2019</p>
      </div>
    </div>
  </div>

<hr>

  <div class="mietpreise-header">
    <p><strong>Mietpreis € / Tag - Saisonzeit</strong></p>
    <div class="mietpreise">
      <div class="saisonzeit">
        <p class="saisonzeit-headers-header"><strong>Saisonzeit</strong></p>
        <p class="saisonzeit-headers">1 Zimmer</p>
        <p class="saisonzeit-headers">1,5 Zimmer</p>
        <p class="saisonzeit-headers">2 Zimmer</p>
      </div>
      <div class="saisonzeit">
        <p class="saisonzeit-a-header"><strong>A</strong></p>
        <p class="saisonzeit-a">99,-</p>
        <p class="saisonzeit-a">89,-</p>
        <p class="saisonzeit-a">79,-</p>
      </div>
      <div class="saisonzeit">
        <p class="saisonzeit-b-header"><strong>B</strong></p>
        <p class="saisonzeit-b">85,-</p>
        <p class="saisonzeit-b">75,-</p>
        <p class="saisonzeit-b">65,-</p>
      </div>
      <div class="saisonzeit">
        <p class="saisonzeit-c-header"><strong>C</strong></p>
        <p class="saisonzeit-c">55,-</p>
        <p class="saisonzeit-c">50,-</p>
        <p class="saisonzeit-c">45,-</p>
      </div>
      <div class="saisonzeit">
        <p class="saisonzeit-d-header"><strong>D</strong></p>
        <p class="saisonzeit-d">40,-</p>
        <p class="saisonzeit-d">40,-</p>
        <p class="saisonzeit-d">35,-</p>
      </div>
      <div class="waesche">
        <h5>Wäschepaket pro Person:</h5>
        <h5>einmalig 20,00 €</h5>
      </div>
    </div>
  </div>

<hr>

  <div class="endreinigung-header">
    <p><strong>Preis für die Endreinigung in €</strong></p>
    <p style="padding-left: 60px;" ><strong>Die Schlüssel erhalten Sie durch diesen Schlüsselsafe</strong
    ></p>
  </div>
    <div class="endreinigung">
      <div class="endreinigung-app">
        <a style="padding:8px; padding-top: 0px;" href="">Appartment 1</a>
        <a style="padding:8px;" href="">Appartment 2</a>
        <a style="padding:8px;" href="">Appartment 3</a>
        <a style="padding:8px;" href="">Appartment 4</a>
        <a style="padding:8px;" href="">Appartment 5</a>
        <a style="padding:8px;" href="">Appartment 6</a>
        <a style="padding:8px;" href="">Appartment 7</a>
        <a style="padding:8px;" href="">Appartment 8</a>
      </div>
      <div class="endreinigung-in-euro">
        <p>70,00€</p>
        <p>50,00€</p>
        <p>70,00€</p>
        <p>70,00€</p>
        <p>50,00€</p>
        <p>70,00€</p>
        <p>70,00€</p>
        <p>70,00€</p>
      </div>
      <div>
        <%= image_tag "Schluesselsafe.jpg",class: "safe-img", alt: "ups...da gab es wohl ein problem beim laden" %>
      </div>
    </div>


</div>
